#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=20s

GIT_ROOT="$(git rev-parse --show-toplevel)"

echo "$GIT_ROOT" > "$GIT_ROOT/.stackpanel-root"

eval "$(devenv direnvrc)"

# `use devenv` supports the same options as the `devenv shell` command.
#
# To silence all output, use `--quiet`.
#
# Example usage: use devenv --quiet --impure --option services.postgres.enable:bool true
use devenv
